

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header*/

a{
  color: seashell;
}

header{
  position: fixed;
  background-color: black;
  width: 100%;
  margin-top: -8px;
}

#header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo{
  background-image: url("../../Resources/Images/img-tea-cozy-logo.png");
  width: 175px;
  height: 50px;
  margin-right: auto;
  margin-left: 10px;
}

#nav{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

#nav ul li{
  display: inline;
  text-decoration: underline;
  padding: 0px 10px;
}

.image{
  background-size: contain;
  background-repeat: no-repeat;
}


/*Main Content*/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description h2{
  margin-top: 10px;
  margin-bottom: 0px;
}

.description h4{
  margin-top: 20px;
  margin-bottom: 10px;
}

.tea.image{
  height: 200px;
  width: 300px;
}

.container .description{
  padding-bottom: 15px;
}

.berry.tea.image{
  background-image: url("../../Resources/Images/img-berryblitz.jpg")
}

.rum.tea.image{
  background-image: url("../../Resources/Images/img-spiced-rum.jpg");
}

.donuts.tea.image{
  background-image: url("../../Resources/Images/img-donut.jpg");
}

.myrtle.tea.image{
  background-image: url("../../Resources/Images/img-myrtle-ave.jpg");
}

.bedford.tea.image{
  background-image: url("../../Resources/Images/img-bedford-bizarre.jpg")
}

#examples{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

#examples h4{
  margin-top: 10px;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: auto;
}

#mission{
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url("../../Resources/Images/img-mission-background.jpg");
}

#mission div{
  background-color: black;
  width: 100%;
  margin-top: 140px;
}

#featured{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 1000px;
}

#examples{
  display: flex;
  flex-wrap: wrap;
}

#myrtle{
  margin-left: 165px;;
}

#bedford{
  margin-right: 165px;;
}

/*Locations section*/

.address{
  background-color: black;
  width: 300px;
}

#locations{
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../../Resources/Images/img-locations-background.jpg")
}

#locations h2{
  margin-bottom: 15px;
}

#locations .container{
  justify-content: space-around;
}
