

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header*/

a{
  color: seashell;
}

header{
  position: fixed;
  background-color: black;
  width: 100%;
  margin-top: -8px;
}

#header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo{
  background-image: url("../../Resources/Images/img-tea-cozy-logo.png");
  width: 175px;
  height: 50px;
  margin-right: auto;
  margin-left: 10px;
}

#nav{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

#nav ul li{
  display: inline;
  text-decoration: underline;
  padding: 0px 10px;
}

.image{
  background-size: contain;
  background-repeat: no-repeat;
}


/*Main Content*/

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

#mission{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  text-align: center;
  background-size: cover;
  background-image: url("../../Resources/Images/img-mission-background.jpg");
}

#mission div{
  background-color: black;
  width: 100%;
  margin-top: 140px;
}

#mission div h2{
  margin-top: 10px;
  margin-bottom: 0px;
}
#mission div h4{
  margin-top: 20px;
  margin-bottom: 10px;
}
